pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/

/*.log
/target
/*-init.clj
/resources/public/js
/resources/public/test
.nrepl-port
.lein-failures
out
.DS_Store
node_modules