@media (max-width: 768px) {

  html {
    font-size: 0.85em;
  }

}

@media (max-width: 540px) {

  html {
    font-size: 0.75em;
  }

}

@media (max-width: 360px) {

  html {
    font-size: 0.6em;
  }

}

body {
  background-color: #ABA8AA;
  font-family: "Lucida Console", Monaco, monospace;
  color: #3A3A47;
}

#mainContainer {
  background-color: #EDEFE5;
  width: 26.5rem;
  margin: 2rem auto;
  border-radius: 0.5rem;
  padding: 1rem;
}

#header a {
  float: right;
}

.score {
  background-color: #727E8C;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.62rem;
  color: #FFFFFF;
  text-align: center;
  width: 11rem;
  float: left;
}

.score h3, .score p {
  margin: 0;
}

.board {
  background-color: #DDDDDD;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 25rem;
  margin: 0.25rem;
}

.board-row {
  clear: both;
}

.board-cell {
  float: left;
  width: 5rem;
  height: 3.5rem;
  margin: 0.125rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 2rem;
  background-color: #BBBBBB;
  border-radius: 0.25rem;
  padding-top: 1.5rem;
}

.clear {
  clear: both;
}